{% extends "main/base.html" %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
        <div id="search-banner">
			<div id="form" class="form-outline ">
				<form action="{% url 'search_results' %}" method="get">
                    <label for="q" class="mb-2">Search by par firstname/ lastname/ keyword ... </label>
					<input type="text" id="q" name="q" class='input-lg mb-2'><br>
                    <label for="loc">Choose a location:</label>
                    <select id="loc" name="loc" size="1" class='btn btn-outline-dark btn dropdown-toggle'>
                    <option>-Location-</option>
                    <option value="Béja">Béja</option>
                    <option value="Ben_Arous">Ben Arous</option>
                    <option value="Bizerte">Bizerte</option>
                    <option value="Gafsa">Gafsa</option>
                    <option value="Jendouba">Jendouba</option>
                    <option value="Kairouan">Kairouan</option>
                    <option value="Kasserine">Kasserine</option>
                    <option value="Kébili">Kébili</option>
                    <option value="Manouba">Manouba</option>
                    <option value="Mahdia">Mahdia</option>
                    <option value="Médinine">Médinine</option>
                    <option value="Monastir">Monastir</option>
                    <option value="Nabeul">Nabeul</option>
                    <option value="Sidi_Bouzid ">Sidi Bouzid</option>
                    <option value="Siliana">Siliana</option>
                    <option value="Sousse">Sousse</option>
                    <option value="Tataouine">Tataouine</option>
                    <option value="Tozeur">Tozeur</option>
                    <option value="Tunis">Tunis</option>
                    <option value="Zaghouan">Zaghouan</option>
                    <option value="le_Kef">le Kef</option>
                    </select> 
					<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
				</form>
            </div>
        </div>
    
{% endblock %}

        
